---
const { id, title, link, depth,groupClass="pl-2 py-[3px] gap-y-[3px]",linkClass="link-class",staticClass="text-sm", inActiveClass="text-slate-100" }= Astro.props;
---

<li class={`w-full flex flex-col items-start ${groupClass[`h${depth}`] ?? groupClass}`}>
	<a
		href={link}
		class={`${linkClass[`h${depth}`] ?? linkClass} w-max`}
	>
    	<p {id} class={`${staticClass[`h${depth}`] ?? staticClass} ${inActiveClass[`h${depth}`] ?? inActiveClass} line-clamp-1 transition-colors ease-in duration-200`} >
    	  {title ?? "Us of ni okay"}
    	</p>
	</a>
  <slot/>
</li>
